**Title**

**Introduction**

**Methods & Results**

In [1]:
options(repr.matrix.max.rows = 6)

# loading libraries
library(tidyverse)
library(repr)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [3]:
# loading the data from the web
tennis_data <- read_csv("https://drive.google.com/uc?export=download&id=1fOQ8sy_qMkQiQEAO6uFdRX4tLI8EpSTn", show_col_types = FALSE) |> 
    select(-...1)
tennis_data

New names:
• `` -> `...1`

     tourney_id                     tourney_name               surface
1    2019-M020                      Brisbane                   Hard
2    2019-M020                      Brisbane                   Hard
3    2019-M020                      Brisbane                   Hard
⋮    ⋮                              ⋮                          ⋮
6864 2017-M-DC-2017-WG-M-BEL-FRA-01 Davis Cup WG F: BEL vs FRA Hard
6865 2017-M-DC-2017-WG-M-BEL-FRA-01 Davis Cup WG F: BEL vs FRA Hard
6866 2017-M-DC-2017-WG-M-BEL-FRA-01 Davis Cup WG F: BEL vs FRA Hard
     draw_size tourney_level tourney_date match_num winner_id winner_seed
1    32        A             20181231     300       105453    2
2    32        A             20181231     299       106421    4
3    32        A             20181231     298       105453    2
⋮    ⋮         ⋮             ⋮            ⋮         ⋮         ⋮
6864 4         D             20171124     2         104542    NA
6865 4         D             20171124     4         105676    NA
6866 4         D             20171124     5         106298    NA
     winner_entry ⋯ l_1stIn l_1stWon l_2ndWon l_SvGms l_bpSaved l_bpFaced
1    NA           ⋯ 54      34       20       14      10        15
2    NA           ⋯ 52      36        7       10      10        13
3    NA           ⋯ 27      15        6        8       1         5
⋮    ⋮            ⋱ ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
6864 NA           ⋯ 54      30       12       12      5         11
6865 NA           ⋯ 54      44       13       14      7         10
6866 NA           ⋯ 53      29       11       11      4         11
     winner_rank winner_rank_points loser_rank loser_rank_points
1     9          3590                16        1977
2    16          1977               239         200
3     9          3590                40        1050
⋮    ⋮           ⋮                  ⋮          ⋮
6864 15          2320               76          667
6865  7          3775               15         2320
6866 18          2235               76          667

In [5]:
set.seed(2132)
# wrangling and cleaning data
# selecting relevant data from each player category (winners & losers), filtering observations, creating new variables, and renaming variables
winner_data <- tennis_data |> select(winner_rank_points, winner_ht, w_df, w_bpSaved, w_bpFaced) |> # selecting relevant variables
    filter(w_bpSaved != 0) |> filter(w_bpFaced != 0) |> mutate(bpratio = w_bpSaved/w_bpFaced) |> na.omit() |> # creating new variable bpratio 
    rename(rank_points = winner_rank_points, height = winner_ht, double_faults = w_df) |> # renaming variables
    select(-w_bpSaved, -w_bpFaced) # removing now-unnecessary variables

loser_data <- tennis_data |> select(loser_rank_points, loser_ht, l_df, l_bpSaved, l_bpFaced) |> # selecting relevant variables
    filter(l_bpSaved != 0) |> filter(l_bpFaced != 0) |> mutate(bpratio = l_bpSaved/l_bpFaced) |> na.omit() |> # creating new variable bpratio
    rename(rank_points = loser_rank_points, height = loser_ht, double_faults = l_df) |> # renaming variables
    select(-l_bpSaved, -l_bpFaced) # removing now-unnecessary variables

# combining losing and winning players' data into one dataframe
player_data <- rbind(winner_data, loser_data)

# splitting the data into training and testing
player_split <- initial_split(player_data, prop = .75, strata = rank_points)  
player_train <- training(player_split)
player_test <- testing(player_split)

player_train

     rank_points height double_faults bpratio
1    200         188    2             0.8000000
2    200         188    3             0.5714286
3    200         188    1             0.6666667
⋮    ⋮           ⋮      ⋮             ⋮
5731 2975        163    5             0.7333333
5732 2235        185    2             0.5454545
5733 2320        188    3             0.7000000

In [ ]:
# data exposition

In [ ]:
# data visualization

In [ ]:
# data analysis (knn regression)

In [ ]:
# data analysis (linear regression)

In [ ]:
# analysis visualization (knn & linear)

**Discussion**

**References**