**Group 007-13 Project Proposal**

**Introduction**
The data set we chose is a tennis data set. We chose to keep specific columns in order to remove irrelevant data and keep the most important columns. We decided to keep if they are right or left handed, their current ranking, the player's name, their backhand throw, their current elo rank, and their prize money. A player's current elo rank is an estimate of their strength and is affected by their wins and loses. We are wondering whether a players bankhand throw and whether they are left or right handed affects their overall success. We will evaluate this by using their backhand, handedness, current rank, and current elo rank.

**Preliminary exploratory data analysis**
*In code cells below, demonstrate that data can be read into R and then follow the instructions on Canvas*

In [11]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

download.file("https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS", "tennis_data.csv")
tennis_data <- read_csv("tennis_data.csv") |> 
    rename_all(make.names) |>  
    rename_with(str_to_lower) |>
    mutate(backhand = as_factor(backhand), handedness = as_factor(plays)) |>
    select(name, country, handedness, backhand, current.rank, current.elo.rank, prize.money, seasons)
tennis_data

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    name                 country        handedness   backhand   current.rank
1   Oscar Jose Gutierrez Brazil         Right-handed NA         378 (97)
2   Jack Draper          United Kingdom Left-handed  Two-handed 326 (119)
3   Lukas Lacko          Slovakia       Right-handed Two-handed 178 (280)
⋮   ⋮                    ⋮              ⋮            ⋮          ⋮
498 Gijs Brouwer         Netherlands    Left-handed  NA         495 (60)
499 Vladyslav Orlov      Ukraine        NA           NA         419 (81)
500 Aziz Dougaz          Tunisia        Left-handed  Two-handed 451 (69)
    current.elo.rank prize.money  seasons
1   NA               NA           NA
2   NA               $59,040      NA
3   144 (1764)       US$3,261,567 14
⋮   ⋮                ⋮            ⋮
498 NA               NA           NA
499 NA               NA           NA
500 NA               $61,984       2

**Methods**
*Explain how you will conduct either your data analysis and which variables/columns you will use.
Describe at least one way that you will visualize the results*

**Expected outcomes and significance** *Answer questions on Canvas*